<div class="container mx-auto ">
  <h3 class="text-3xl font-bold">Payment Form</h3>
  <div class="grid lg:grid-cols-2 gap-2 sm:grid-cols-1 mt-8">
    <div class=" flex flex-col">
      <label class="text-xl font-bold" >Payment Name</label>
      <input type="number" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 
      focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 mt-2
      dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
      #heightInput (input)="onHeightChange( heightInput.value!)" placeholder="173" required>
      <!-- <input class="rounded-sm border border-gray-500" type="text" placeholder="Info input" #nameInput (input)="onNameChange( nameInput.value!)" /> -->
    </div>
    <div>
      <label class="text-xl font-bold"><b>Height</b></label>
      <div class="mt-4">
        {{ height | number :'1.1-3' }}
      </div>
    </div>
  </div>
  <div class="grid lg:grid-cols-2 gap-2 sm:grid-cols-1 mt-8">
    <div class=" flex flex-col">
      <label class="text-xl font-bold" >Payment Name</label>
      <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 
      focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 mt-2
      dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
      #nameInput (input)="onNameChange( nameInput.value!)" placeholder="John" required>
      <!-- <input class="rounded-sm border border-gray-500" type="text" placeholder="Info input" #nameInput (input)="onNameChange( nameInput.value!)" /> -->
    </div>
    <div>
      <label class="text-xl font-bold"><b>Name</b></label>
      <div class="mt-4">
        {{name | titlecase}}
      </div>
    </div>
  </div>

  <div class="grid lg:grid-cols-2 gap-2 sm:grid-cols-4 mt-8">
    <div class=" flex flex-col">
      <label class="text-xl font-bold" >Payment Date</label>
      <input type="date" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 
      focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 mt-2
      dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
      #dateInput (input)="onDateChange(dateInput.value!)" placeholder="John" required>
      <!-- <input class="rounded-sm border border-gray-500" type="text" placeholder="Info input" #nameInput (input)="onNameChange( nameInput.value!)" /> -->
    </div>
    <div>
      <label class="text-xl font-bold"><b>Payment Date</b></label>
      <div class="mt-4">
        {{date | date}}
      </div>
    </div>
  </div>

  <div class="grid lg:grid-cols-2 gap-2 sm:grid-cols-1 mt-8">
    <div class=" flex flex-col">
      <label class="text-xl font-bold" >Payment Amount</label>
      <input type="number" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 
      focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 mt-2
      dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
      #numberInput (input)="onAmountChange(numberInput.value!)" placeholder="{{56 | currency: 'JPY'}}" required>
      <!-- <input class="rounded-sm border border-gray-500" type="text" placeholder="Info input" #nameInput (input)="onNameChange( nameInput.value!)" /> -->
    </div>
    <div>
      <label class="text-xl font-bold"><b>Payment Amount</b></label>
      <div class="mt-4">
        {{amount | currency: 'JPY'}}
      </div>
    </div>
  </div>

  <div class="grid lg:grid-cols-2 gap-2 sm:grid-cols-1 mt-8">
    <div class=" flex flex-col">
      <label class="text-xl font-bold" >Height</label>
      <input type="number" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 
      focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 mt-2
      dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
      #heightInput (input)="onHeightChange(heightInput.value!)" placeholder="{{173 | number}}" required>
      
    </div>
    <div>
      <label class="text-xl font-bold"><b>Height</b></label>
      <div class="mt-4">
        {{height | number: '1.1-3'}}
      </div>
    </div>
  </div>

  <div class="grid lg:grid-cols-2 gap-2 sm:grid-cols-1 mt-8">
    <div class=" flex flex-col">
      <label class="text-xl font-bold" >Miles</label>
      <input type="number" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 
      focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 mt-2
      dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
      #milesInput (input)="onMilesChange(milesInput.value!)" placeholder="00000" required>
      
    </div>
    <div>
      <label class="text-xl font-bold"><b>Distances</b></label>
      <div class="mt-4">
        {{miles | convert : 'cm' | number: '1.1-3' }}
      </div>
    </div>
  </div>
</div>

<!-- {{car}} -->
